aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiohttp-retry==2.9.1
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.10.0
asgiref==3.4.1
astroid==2.6.6
attrs==25.3.0
autopep8==1.5.7
beautifulsoup4==4.13.5
blinker==1.9.0
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.4
contourpy==1.3.3
coverage==5.5
cycler==0.12.1
distlib==0.3.8
distro==1.9.0
Django==3.2.6
django-cors-headers==3.7.0
djangorestframework==3.12.4
djangorestframework-simplejwt==4.8.0
fastapi==0.116.1
filelock==3.16.0
flake8==3.9.2
Flask==3.1.1
fonttools==4.60.1
frozenlist==1.8.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
instaloader==4.14.1
isort==5.9.3
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.10.0
kiwisolver==1.4.9
lazy-object-proxy==1.6.0
lxml==6.0.1
MarkupSafe==3.0.2
matplotlib==3.10.6
mccabe==0.6.1
multidict==6.7.0
numpy==2.1.1
openai==1.101.0
outcome==1.3.0.post0
packaging==25.0
pandas==2.2.2
pillow==10.4.0
pipenv==2024.0.2
platformdirs==4.3.3
propcache==0.4.1
pycodestyle==2.7.0
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
pyflakes==2.3.1
PyJWT==2.1.0
pylint==2.9.6
pyparsing==3.2.5
pyserial==3.5
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-pptx==1.0.2
pytz==2021.1
requests==2.32.3
selenium==4.34.2
setuptools==73.0.1
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8
sqlparse==0.4.1
starlette==0.47.2
toml==0.10.2
tqdm==4.67.1
trio==0.30.0
trio-websocket==0.12.2
twilio==9.8.8
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2024.1
urllib3==2.5.0
uvicorn==0.35.0
virtualenv==20.26.4
webdriver-manager==4.0.2
websocket-client==1.8.0
Werkzeug==3.1.3
wheel==0.44.0
wrapt==1.12.1
wsproto==1.2.0
xlsxwriter==3.2.5
yarl==1.22.0
